<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
		<!-- Top content ends -->

		<div class="mainPanelFooter">
			<div class="container padding-for-body">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12 footerBlocks">
						<h2><strong>Contact Us</strong></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div>
							<img src="img/DotMap.png" alt="" class="worldImage"/>
						</div>
						<div class="col-lg-2" style="width: 30%">
							<strong>City - 1</strong><br>
							Address Line - 1<br>
							Address Line - 2<br>
							City, State, PIN<br>
							Code<br>
							Tel: 0000-000-<br>
							0000<br>
							<a href="#">Google Map</a>
						</div>
						<div class="col-lg-2" style="width: 30%">
							<strong>City - 2</strong><br>
							Address Line - 1<br>
							Address Line - 2<br>
							City, State, PIN<br>
							Code<br>
							Tel: 0000-000-<br>
							0000<br>
							<a href="#">Google Map</a>
						</div>
						<div class="col-lg-2" style="width: 30%">
							<strong>City - 3</strong><br>
							Address Line - 1<br>
							Address Line - 2<br>
							City, State, PIN<br>
							Code<br>
							Tel: 0000-000-<br>
							0000<br>
							<a href="#">Google Map</a>
						</div>
					</div>
					
					<div class="col-lg-6" style="padding-top: 50px;">
								<table align="center" style="color: black">
									<tr>
										<td>
											<h3><strong  style="color: black">Get in touch today</strong></h3>
										</td>
									</tr>
									<tr>
										<td>
											Share your details with us. Will contact you shortly.
										</td>
									</tr>
								</table>
						<div>
							<form name="contactusform">
								<table class="form-table" align="center" style="width: 50%;">
									<tbody>
										<tr>
											<td>
												<input type="text" 
													   class="roundCornerInputFirst form-inline" 
													   size="40%"
													   placeholder="Your Full Name" 
													   ng-model="contactUsFullName" 
													   required/><br>
<!--								<p ng-show="registeruserform.$error.minlength">Short</p>-->
											</td>
										</tr>
										<tr>
											<td>
												<input type="email"
													   size="40%"
													   placeholder="Your Email Address" 
													   ng-model="contactUsEmail"
													   required/><br>
											</td>
										</tr>
										<tr>
											<td style="text-align: right">
												<div style="display: inline-table" class="input-group">
													<input type="password" 
														   class="form-control roundCornerInputLast"
														   size="25"
														   ng-model="registrationRetypePassword"
														   placeholder="Re-Type your Password"
														   required/>
													<span class="input-group-addon"  
														  ng-click="registeruserform.$valid && testFunction()">
														<button style="border: none">
															<i class="fa fa-external-link"></i>
														</button>
													</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												Your privacy is important to us. 
												We will never sell nor share your personal 
												information with third parties.
											</td>
										</tr>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="UserScripts.js"></script>
	</body>
</html>
