
<!--					Registration View Starts-->
<div class="mainPanel">
<div class="container">
	<div class="row">
		<div class="col-md-12 registration-panel" ng-controller="RegistrationController" ng-show="ViewName == 'registration'">
			User Registration
			<br>
			<br>
			<div>
				<form name="registeruserform">
					<table width="100%" class="form-table" align="center">
						<tbody>
							<tr>
								<td style="text-align: right; width: 60%">
									<input type="text"
										   class="roundCornerInputFirst"
										   placeholder="Mobile Number"
										   name="mobileNumber"
										   ng-model="registrationMobileNumber"
										   minlength=10
										   maxlength=10
										   size="25"
										   required>
								</td>
								<td style="text-align: left; padding-left: 10px; width: 40%">
									<span ng-cloak class="error" 
										  ng-show="registeruserform.mobileNumber.$error.minlength"> 
										Number should be 10 length
									</span>
								</td>
							</tr>
							<tr>
								<td style="text-align: right">
									<input type="password"
										   id="password"
										   name="password"
										   size="25"
										   placeholder="Enter your password" 
										   ng-model="registrationPassword"
										   ng-minlength="8"
										   ng-maxlength="20"
										   ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
										   required/>
								</td>
								<td style="text-align: left; padding-left: 10px;">
									<span ng-cloak ng-show="registeruserform.password.$error.pattern" class="error">
										Must contain one lower &amp; upepercase letter, and one non alpha character
									</span>
								</td>
							</tr>
							<tr>
								<td style="text-align: right">
									<div style="display: inline-table;" class="input-group">
										<input type="password" 
											   class="roundCornerInputLast"
											   size="20"
											   ng-change="isMatch()"
											   ng-model="registrationRetypePassword"
											   placeholder="Re-Type your Password"
											   required/>
										<span style="background: white; border: none"
											  class="input-group-addon"  
											  ng-click="registeruserform.$valid && registerUser()">
											<button style="border: none; background: none">
												<img src="img/enter.png"/>
											</button>
										</span>
									</div>
								</td>
								<td style="text-align: left; padding-left: 10px;" ng-cloak>
									<span class="error"> {{ passwordMatchError}} </span>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<!--					Registration View Ends-->

		<!--					Activation View Starts-->
		<div ng-cloak class="col-md-12 registration-panel" ng-controller="ActivationController" ng-show="ViewName == 'activation'">
			Complete your Registration
			<br>
			<br>
			<div>
				<form name="activateuserform">
					<table class="form-table" align="center" style="width: 100%">
						<tbody>
							<tr>
								<td width="80%">
									<div style="display: inline-table" class="input-group">
										<input style="width: 60%; float: right" 
											   type="password" 
											   class="form-control roundCornerInputFull"
											   size="15"
											   ng-model="activationCode"
											   placeholder="Enter Activation Code"
											   required/>
										<span class="input-group-addon"  
											  ng-click="activateuserform.$valid && activateUser()">
											<button style="border: none">
												<i class="fa fa-external-link"></i>
											</button>
										</span>
									</div>
								</td>
								<td width="40%">
									<button class="btn btn-default btn-transparent" 
											type="submit" 
											value="Resend Code"
											ng-click="resendCode()">
										Resend Code
									</button>
								</td>
							</tr>
							<tr>
								<td>
									{{ activationError}}
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<!--					Activation View Ends-->

		<!--					Confirmation View Starts-->
		<div ng-cloak class="col-md-12 registration-panel" style="border-width: 2px;" ng-controller="ConfirmationController" ng-show="ViewName == 'confirm'">
			<table width="70%" align="center" class="table-confirmation">
				<tbody>
					<tr>
						<td style="text-align: left;padding: 20px">
							<strong>Congratulations</strong>
						</td>
					</tr>
					<tr>
						<td style="text-align: left; padding: 20px; font-size: 15px">
							Thanks to register with us. Click <a href="" ng-click="loadRegistration()"> here </a> to login. After 5 seconds
							page will automatically be redirected to User Login Page.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>